@model CarCenterWebApp.Models.DTOs.PersonasDTO
@{
    ViewBag.Title = "Editar Personas";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit","Personas",FormMethod.Post, new { role = "form" }))
        {

        }
    </div>
</div>

