@model List<CarCenterWebApp.Models.DTOs.PersonasDTO>
@{
    ViewBag.Title = "Index";
}

<h2>Personas</h2>
<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn btn-primary" value="Nuevo"
               onclick="document.location.href='@Url.Content("~/Personas/Add")'"/>
    </div>
</div>

