
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<br />
<h3>Ingreso a Zona de Clientes</h3>
<br /><br />     
    <div class="col-sm-8 col-md-6">
        <div class="rounded-1 text-gray bg-gray-light py-4 px-4 px-md-3 px-lg-4">
            <form class="home-hero-signup js-signup-form" autocomplete="off"
                accept-charset="UTF-8" method="get" id="frmLogin">
                <dl class="form-group mt-0">
                    <dt class="input-label">
                        <label class="form-label f5" for="user">Identificación</label>
                    </dt>
                    <dd>
                        <input type="text" name="user" id="user"
                                class="form-control form-control-lg input-block"
                                placeholder="Escriba su número de identificación">
                    </dd>
                </dl>
                <password-strength data-minimum-character-count="8"
                                    data-passphrase-length="15">
                    <dl class="form-group">
                        <dt class="input-label">
                            <label class="form-label f5" for="pwd">Contraseña</label>
                        </dt>
                        <dd>
                            <input type="password" name="pwd" id="pwd"
                                    class="form-control form-control-lg input-block"
                                    placeholder="Escriba su contraseña">
                        </dd>
                    </dl>
                </password-strength>

                <input class="btn btn-success btn-large-mktg f4 btn-block" type="submit"
                        value="Ingresar" />
            </form>
        </div>
        <br />
        <p class="card-text bg-gray-dark" style="transform: rotate(0);">
            <a href="@Url.Content("~/PersonaVehiculo/")" class="text-primary">Quiero Registrarme</a>
        </p>
    </div>
    <div style="float:unset">
        <img src="~/Content/Images/CarCenterLogo.jpg" width="500" height="250" />
    </div>
<br /><br />


@section scripts
{
    <script>
    $(document).ready(function () {
        $("#frmLogin").submit(function (e) {
            e.preventDefault();
            url = "@Url.Content("~/Acceso/Enter")";
            parametros = $(this).serialize();
            $.post(url, parametros, function (data) {
                if (data == "1") {
                    document.location.href = "@Url.Content("~/")";
                } else {
                    alert(data);
                }
            })
        });
    });
    </script>
}