@{
    ViewBag.Title = "Quienes Somos";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h2>@ViewBag.Title.</h2>

<p>
    <strong>Somos CarCenter</strong>: El mejor servicio mecánico para tu carro en Bogotá
    Autolab es una nueva alternativa a los Concesionarios tradicionales o a los Talleres informales. 
    En CarCenter te aseguramos la más alta Calidad y el mejor respaldo, siempre a precios Justos!
</p>
<p>
    Estamos revolucionando la industria del Taller Mecánico
    En CarCenter contamos con un equipo de alta calidad, proveniente de diferentes industrias y con alto nivel de educación. 
    Buscamos crear una nueva experiencia de Talleres, en donde los clientes encuentran un servicio de alto nivel, 
    con total transparencia y a precios justos!
</p>

<p>
    Le damos a tu carro todo lo que necesita en un solo lugar
    Contamos con personal y equipo especializado para darle a tu vehículo el mejor servicio posible. 
    En CarCenter podrás realizar cualquier mantenimiento que tu vehículo necesite con la confianza de que 
    mecánicos expertos están haciendo el mejor trabajo. Si tu vehículo necesita desde un cambio de aceite 
    hasta la reparación completa del motor, Autolab es el mejor sitio para llevarlo!
</p>
<p>
    Despreocúpate, nosotros nos encargamos
    En Autolab te prometemos ser completamente transparentes con tu servicio. 
    Todos los mantenimientos que se hagan a tu carro serán bajo previa aprobación tuya. Adicional, 
    te ofrecemos la más alta calidad en las reparaciones de tu vehículo y te damos garantía por todos los trabajos.
</p>
