@{
    ViewBag.Title = "Contactenos";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<style>   
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 310px;
        width: 410px;
    }
</style>

<h2>@ViewBag.Title</h2>

<table class="table table table-borderless" style="width: 55%">
    <tr>
        <td style="vertical-align:middle">
            <img src="~/Content/Images/CarCenterLogo.jpg" width="350" height="150" />
        </td>
        <td style="width: 50%">            
            <div class="gmap_canvas">
                <iframe width="400" height="300" 
                        id="gmap_canvas" 
                        src="https://maps.google.com/maps?q=Politecnico%20Internacional%20Sede%20Calle%2080&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                 </iframe>
            </div>            
        </td>
        <td style="width: 50%"> 
            <p>
                Av. Calle 80 # 69 - 07<br />
                Tel: 771 32 44
                <br />
                <br />
                <strong>Soporte:</strong>   <a href="mailto:soporte@carcenter.com">soporte@carcenter.com</a><br />
                <strong>Comercial:</strong> <a href="mailto:comercial@carcenter.com">comercial@carcenter.com</a>
            </p>
        </td>
    </tr>
</table>
