@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="jumbotron text-center">
    <img src="~/Content/Images/CarCenterLogo.jpg" width="550" height="208" />
    <br /><br />
          <p>
              Aquí encontrarás el mejor servicio de
              mecánica automotriz. Brindamos garantía en
              todos nuestros servicios, amplios espacios
              para tu comodidad y cumpliendo siempre con altos
              estándares de calidad y repuestos
          </p>
          <button type="button" class="btn btn-danger btn-lg"
                  onclick="document.location.href = '@Url.Content("~/Acceso/")'">Solicitar Servicio</button>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Plataforma</h2>
        <p>            
            Somos una plataforma que te conecta con el mejor servicio mecánico automotriz en Bogotá.
        </p>       
    </div>
    <div class="col-md-4">
        <h2>Solución</h2>
        <p>Te ofrecemos todas las soluciones a los problemas mecánicos de tu vehículo con nuestros especialistas en un solo lugar.</p>        
    </div>
    <div class="col-md-4">
        <h2>Confianza</h2>
        <p>Construimos un perfil de tu vehículo contando con garantías en todos los trabajos prestados en Autolab.</p>        
    </div>
</div>